In [4]:
import numpy as np
import pandas as pd

In [5]:
a = [1,2,3,4,5,6,7,8,9,5,1,5,4,8,6,8,5,3,5,8]
max(a)

9

In [6]:
# Create list of lists containing data
list_df = [[32, 'Portugal', 94], [30, 'Argentina', 93], [25 , 'Brazil', 92]]

# Create index - names of players
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

# Create column names 
columns = ['Age', 'Nationality', 'Overall']

# Create dataframe by passing in data, index and columns
pd.DataFrame(data=list_df, index=index, columns=columns)

                    Age Nationality  Overall
Christiano Ronaldo   32    Portugal       94
Lionel Messi         30   Argentina       93
Neymar               25      Brazil       92